html {scroll-padding-top: 60.8px;}
 
 .debug {min-height: 150px;}

 nav {min-height: 3.8rem;}

.avatar {
    width: 9rem;
    height: auto;
}

.circle {
    border-radius: 50%;
    border: 1px solid white;
    padding: 3px;
    width: 32px;
}

.scaled {transform: scale(2);}

/* COLORI DI SFONDO */

.bgGrey {background-color: #2c3e50; }
.bgLightGrey {background-color: #3a546d; }
.bgGreen {background-color: #1abc9c; }

/* MARGINE NAIN */
.mt-main { margin-top: 60.8px;}

/* HOVER */
.imageBox {
    width: 100%;
    overflow: hidden;
}

.imageBox img {transition: transform .5s ease-in-out;}
  
  .imageBox:hover img {transform: scale(1.5);}
  
  .limited {max-width: 50%;}